<!-- <div class="circle">
  <div class="table"></div>
  <div class="glass">
    <div class="reflex"></div>
    <div class="base"></div>
    <div class="base shadow"></div>
    <div class="wine">
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
      <div class="wine-line"></div>
    </div>
  </div>
</div>
 -->
